################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

App_Browsers
App_Data
[Oo]bj
[Bb]in
.vs
/packages
/BUF.Web/Umbraco
/BUF.Web/Umbraco_Client
/BUF.Web/Global.asax
/BUF.Web/default.aspx
/BUF.Web/App_Plugins/Grid
/BUF.Web/App_Plugins/ModelsBuilder
