################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BUF.Code/App_Data/NuGetBackup/20170430-132129
/BUF.Code/obj/Debug
/BUF.Web/App_Browsers
/BUF.Web/App_Data
/BUF.Web/obj/Debug
/BUF.Web/Umbraco_Client
/packages
/BUF.Web/Umbraco
/BUF.Web/Global.asax
/BUF.Web/default.aspx
